@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 100% 88%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 100% 88%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 38%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 100% 38%;
    --radius: 0.5rem;

    /* Layout Variables */
    --navbar-height: 4rem;
    --banner-height: 3rem;
    --section-spacing: 2rem;
  }
}